@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #182433;
	-webkit-font-smoothing: antialiased;
}
*{
  box-sizing: border-box;
}
img{
	max-width: 100%
}
a{
	color: unset;
	text-decoration: none;
}
::selection{
	background: rgba(#000,0.175);
}
.home_wrapper{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.clearfix{
	clear:both;
	display:table;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}